<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>BMI</title>
    <link rel="icon" href="{{url_for('static',filename='pics/logo.png')}}" type="image/png" sizes="80x80px">
</head>

<!--<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#">Heart Disease Diagnosis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Analysis</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{{url_for('home')}}">Prediction</a>
            </li>
        </ul>
    </div>
</nav>-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
       <img src="{{url_for('static',filename='pics/logo2.jpg')}}" height="35px" width="35px">

      <a class="navbar-brand" href="#">Heart Care</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">

            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('about')}}">About us</a>
          </li>

            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Prediction</a>
          </li>
          </ul>
          </div>
    </div>
  </nav>


<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><h1>BMI Calculation</h1></center>
    <div class="container-fluid">
        <div class="col-lg-12">
                <form action="{{ url_for('results') }}" method="post">
                    <br>
                    <br>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="age" style="color:white"> Enter your age</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input type="text" class="form-control" id="age" name="age" placeholder="Your current age in years">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="sex" style="color:white">Enter your Gender</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <select class="form-control" id="sex" name="sex">
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="Weight" style="color:white">Weight</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input type="text" class="form-control" id="Weight" name="Weight" placeholder="Your Weight">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <label for="Height" style="color:white">Height</label>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <input type="text" class="form-control" id="Height" name="Height" placeholder="Height in cm">
                            </div>
                        </div>
                        <br>

                        </div>

                        <center>
                            <button type="submit" class="btn btn-white" value="submit" style="color:black">Submit</button>
                        </center>
                </form>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<style>
     body{
            background: #f7f7f7;
            font-size: large;
        }
        label{
          color: #222 !important;
          font-weight: 600;
        }
        h1{

        color:#222;
        }

}
</style>

</html>