

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Sleep</title>
    <link rel="icon" href="{{url_for('static',filename='pics/logo.png')}}" type="image/png" sizes="80x80px">
</head>

<!--<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#">Heart Disease Diagnosis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Analysis</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{{url_for('home')}}">Prediction</a>
            </li>
        </ul>
    </div>
</nav>-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <img src="{{url_for('static',filename='pics/logo2.jpg')}}" height="35px" width="35px">

      <a class="navbar-brand" href="#">Heart Care</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">

            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('about')}}">About us</a>
          </li>

            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Prediction</a>
          </li>
          </ul>
          </div>
    </div>
  </nav>



<!--
      <div class="topnav" id="myTopnav">
        <img src="pics/logo.png"  height="70px" width="70px">
        <a href="contactus.html">Contact Us</a>
        <a href="our motto.html">Our Motto</a>
        <a href="gallery.html">Gallery</a>
        <a href="heart.html" >Home</a>
        <a href="aboutus.html">About Us</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
-->

  </header>

<main role="main">


  <div class="container">
      <h2 style="padding-top: 80px" >A Good Night's Sleep Keeps a Heart Healthy</h2>
      <hr>
    <div class="about-left">

        <p>A lack of sleep can do more than leave you yawning. It can harm your health. People who don't get enough sleep have a higher risk of obesity, high blood pressure,
            heart attack, diabetes and depression.</p>

           <p> Most adults need at least seven hours of sleep each night. Make sleep a priority in your life.
               Set a sleep schedule and stick to it by going to bed and waking up at the same times each day. Keep your bedroom dark and quiet, so it's easier to sleep.</p>

       <p>If you feel like you've been getting enough sleep but you're still tired throughout the day, ask your health care provider if you need to be evaluated
           for obstructive sleep apnea, a condition that can increase your risk of heart disease. Signs of obstructive sleep apnea include loud snoring, stopping breathing
           for short times during sleep and waking up gasping for air. Treatments
            for obstructive sleep apnea include losing weight if you're overweight or using a continuous positive airway pressure, or CPAP, device that keeps
           your airway open while you sleep.</p>
        <h3>Heart Needs Sleep Consistency</h3>
        <p>Like many systems in the body, the cardiovascular system relies on our circadian rhythms to maintain normal functioning. Blood pressure, for example, goes down at night,
            rises sharply before we wake up, and is generally highest midmorning.
            Morning is also a time when people are more prone to suffer from heart attacks, strokes, and sudden cardiac deaths, experts have found.</p>


<p>While the researchers aren’t sure of the exact biological mechanisms behind the sleep irregularity/CVD link,
    harmful disturbances in these important circadian rhythms are likely to blame.
    Circadian disruptions influence the rhythms of the autonomic nervous system, which directly governs normal cardiac functioning,
    the researchers observe, and irregular sleep habits can also affect a person’s schedule of eating or exercise in ways that are bad for your heart.</p>
        <p>To better understand their results, the researchers hope in future studies to look for blood biomarkers that may clarify the apparent link.
            Larger studies with longer follow-up will also be important to confirm these findings, they note.</p>


<!--
      <p id="color">They motivate and encourage people to be aware of increasing health issues in India and abroad due to lack of exercise, faulty diets and preventive health check-ups.
      </p>
      <p><strong> Their goal is to prevent disease in every possible way and live life king-size.</strong>
      </p>
      <p id="color">
      Driven by passion and determination, our doctors are constantly striving to achieve their goals by attending conferences world –wide. This keeps them updated with the latest developments in Medicine


      </p>
-->
    </div>
  <img src="{{url_for('static',filename='pics/sleep1.jpg')}}" width="800px" height="300px" style="padding-left: 20px" class="center" >
    <hr>
      <h3>A small quiz for you</h3>
      <p>Read the statements below. Keep track of all the statements you can say "yes" to.</p>
      <ol>
          <li>I feel sleepy during the day, even when I get a good night's sleep.</li>
          <li>I get very irritable when I can't sleep.</li>
          <li>I often wake up at night and have trouble falling back to sleep.</li>
          <li>It usually takes me a long time to fall asleep.</li>
          <li>I often wake up very early and can't fall back to sleep.</li>
          <li>I usually feel achy and stiff when I wake up in the morning.</li>
          <li>I often seem to wake up because of dreams.</li>
          <li>I sometimes wake up gasping for breath.</li>
          <li>My bed partner says my snoring keeps her/him from sleeping.</li>
          <li>I've fallen asleep driving.</li>
      </ol>
      <p>If you identified more than two "yes" statements, you may want to pay more attention to your sleep patterns or consult a health professional.</p>









      </div><!-- /.container -->
<!--    <h4>The specialized departments we have that are so revered by the patients...</h4><br>-->
    <!-- Example row of columns -->
<!--
    <div class="row">

      <div class="col-md-4">
        <h3>Dentistry</h3>
        <p id="color">
          Dentistry, also known as dental medicine and oral medicine, is a branch of medicine that consists of the study, diagnosis, prevention ...</p>
        <p><a class="btn btn-secondary" href="dentist.html" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>ENT</h3>
        <p id="color">ENT is a medical specialty which is focused on the ears, nose, and throat.
          ENT are also called Otorhinolaryngology which is
          ...</p>
        <p><a class="btn btn-secondary" href="ent.html" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">

        <h3>Physiotherapy</h3>
        <p id="color">Worldwide the physiotherapy community is divided by name,
          with three different primary titles used: ...</p>
        <p><a class="btn btn-secondary" href="physio.html" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>Eye Specialist</h3>
        <p id="color">There are three different types of eye care practitioner: optometrists, opticians, and ophthalmologists.
          Each has a different level of ...</p>
        <p><a class="btn btn-secondary" href="eye.html" role="button">View details &raquo;</a></p>
      </div>
    </div>
-->
  </div> <!-- /container -->

</main>

        <footer class="container footer_full_width" style="color: white;">
            <div >
            <h4 style="padding-top:20px ;">Contact Us:</h4>
            <hr style="background-color:white">
            <div class="float-left">
                <p >Address:  ________</p>
                <p>Phone Number: 9876543210</p>
                <p>Email: hriday.chikitsa@gmail.com </p>
                <p class="float-right"><a href="#">Back to top</a></p>

        </div>
            </div>
        </footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<style>
footer{
  clear: both!important;
  min-width: 100%;
  left:0;
  height:37%;
  position:absolute;
  color: white;
  background-color:#17202A			;
}
#footernew{
  font-size: large;
}
body {
   background-color: #whitesmoke;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}





</style>

</html>
